.image-container {
  width: 35%;
  height: 88%;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-title {
  text-align: center;
  font-size: 1.3vw;
  color: #333;
  margin-bottom: 15px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Add overflow-y to handle scrolling */
}

.image-wrapper {
  flex: 1 1 calc(50% - 20px);
  max-width: 48%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 10px; /* Ensure there is space at the bottom */
}
