.draggable-image {
    cursor: move;
    width: 90%;
    height: auto;
    transition: opacity 0.3s ease;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
  .draggable-image.dragging {
    opacity: 0.5;
  }
  